<div
  class="application"
  fxLayout="column"
>
  <header>
    <mat-toolbar
      color="primary"
      class="mat-elevation-z4"
    >
      <span class="title">Vue.jsとAngularを比較しながら作るアプリ</span>
      <span class="spacer"></span>
      <button
        (click)="logout()"
        *ngIf="isLoggedIn"
        aria-label="logout"
        mat-icon-button
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>
  <footer
    fxLayout="row"
    fxLayoutAlign="end center"
  >
      <span>Copyright © 2018 Develhack K.K. All Rights reserved.</span>
  </footer>
</div>
