<div
  class="login"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <form
    (submit)="login()"
    [formGroup]="form"
    fxFlex.gt-md="33"
    fxFlex.sm="66"
    fxFlex.xs="100"
  >
    <mat-card class="mat-elevation-z12">
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="start stretch"
      >
        <div
          *ngIf="failed"
          class="error"
        >
          <span>認証できません</span>
        </div>
        <mat-form-field>
          <input
            formControlName="email"
            placeholder="メールアドレス"
            type="text"
            matInput
            required
          />
          <mat-error>入力してください</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="password"
            placeholder="パスワード"
            type="password"
            matInput
            required
          />
          <mat-error>入力してください</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          [disabled]="form.invalid"
          color="primary"
          type="submit"
          mat-stroked-button
        >
          <span>ログイン</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
